.about-container {
    position: absolute;
    background-color: #4a4a4a;
    height: 100vh;
    width: 100vw;
}

.about-title {
    position: absolute;
    margin: 0;
    width: calc((739 / 1440) * 100vw);
    height: calc((150 / 900) * 100vh);
    left: calc((358 / 1440) * 100vw);
    top: calc((125 / 900) * 100vh);

    font-family: Gill Sans;
    font-style: normal;
    font-weight: bold;

    font-size: calc((75 / 1440) * 100vw);
    line-height: calc((104 / 900) * 100vh);
    text-align: left;

    color: #25d977;
}

.about-text-container {
    position: absolute;
    width: calc((724 / 1440) * 100vw);
    height: calc((542 / 900) * 100vh);
    left: calc((358 / 1440) * 100vw);
    top: calc((230 / 900) * 100vh);
}

.about-text {
    position: absolute;

    font-family: Avenir Next;
    font-style: normal;
    font-weight: normal;
    font-size: calc((25 / 1440) * 100vw);
    line-height: calc((41 / 900) * 100vh);

    color: white;
}
