.generate-playlists-section {
    position: relative;
    z-index: 0;
    width: 100vw;
    height: auto;
    padding-bottom: 10vw;
    background-color: #5eb686;
}

.recommended-playlist-title-container {
    position: relative;
    width: 100vw;
    height: calc((209 / 1440) * 100vw);
    left: 0px;
    text-align: center;
}

.create-playlist-success {
    position: relative;
    top: calc((60 / 1440) * 100vw);

    font-family: "AvenirMedium";
    font-style: normal;
    font-weight: 600;
    font-size: calc((30 / 1440) * 100vw);
    margin: 0 auto;

    color: green;

    text-shadow: 0px calc((4 / 1440) * 100vw) calc((4 / 1440) * 100vw)
        rgba(0, 0, 0, 0.25);
    transition: transform 0.5s ease;
}

.create-playlist-failure {
    position: relative;
    top: calc((60 / 1440) * 100vw);

    font-family: "AvenirMedium";
    font-style: normal;
    font-weight: 600;
    font-size: calc((30 / 1440) * 100vw);
    margin: 0 auto;

    color: red;

    text-shadow: 0px calc((4 / 1440) * 100vw) calc((4 / 1440) * 100vw)
        rgba(0, 0, 0, 0.25);
    transition: transform 0.5s ease;
}

.recommended-playlist-title {
    position: relative;
    width: calc((651 / 1440) * 100vw);
    height: calc((209 / 1440) * 100vw);

    font-family: "AvenirMedium";
    font-style: normal;
    font-weight: 500;
    font-size: calc((85 / 1440) * 100vw);
    line-height: calc((209 / 1440) * 100vw);
    margin: 0 auto;

    color: #4a4a4a;

    text-shadow: 0px calc((4 / 1440) * 100vw) calc((4 / 1440) * 100vw)
        rgba(0, 0, 0, 0.25);
}

.create-playlist-button {
    /* create playlist */

    position: absolute;
    width: calc((450 / 1440) * 100vw);
    top: calc((200 / 1440) * 100vw);
    left: calc((690 / 1440) * 100vw);

    font-family: "AvenirMedium";
    font-style: normal;
    font-weight: 600;
    font-size: calc((40 / 1440) * 100vw);
    margin: 0 auto;

    color: #ffffff;

    text-shadow: 0px calc((4 / 1440) * 100vw) calc((4 / 1440) * 100vw)
        rgba(0, 0, 0, 0.25);
    transition: transform 0.5s ease;
}

.refresh-playlist-button-container {
    position: absolute;
    width: calc((70 / 1440) * 100vw);
    left: calc((400 / 1440) * 100vw);
    top: calc((200 / 1440) * 100vw);
    margin: 0 auto;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease;
}

.refresh-playlist-button {
    position: absolute;
    width: calc((300 / 1440) * 100vw);
    top: calc((200 / 1440) * 100vw);
    left: calc((320 / 1440) * 100vw);

    font-family: "AvenirMedium";
    font-style: normal;
    font-weight: 600;
    font-size: calc((40 / 1440) * 100vw);
    margin: 0 auto;

    color: #ffffff;

    text-shadow: 0px calc((4 / 1440) * 100vw) calc((4 / 1440) * 100vw)
        rgba(0, 0, 0, 0.25);
    transition: transform 0.5s ease;
}

.refresh-playlist-button:hover,
.create-playlist-button:hover {
    cursor: pointer;
    text-shadow: 0px calc((6 / 1440) * 100vw) calc((6 / 1440) * 100vw)
        rgba(0, 0, 0, 0.25);
}

.refresh-playlist-button:active,
.create-playlist-button:active {
    color: #4a4a4a;
}
