.login-container {
    text-align: center;
    position: relative;
    background-color: #4a4a4a;
    height: 90vh;
    width: 100vw;
}
.login-title {
    position: absolute;
    margin: 0;
    width: 100vw;
    height: 230px;
    top: calc((172 / 900) * 100vh);
    justify-content: center;

    font-family: GillSansBold;
    font-style: normal;
    font-weight: bold;

    font-size: max(50px, calc((90 / 1440) * 100vw));
    line-height: 104px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #25d977;
}

.login-button-container {
    position: absolute;
    height: 96px;
    width: 100vw;
    top: calc((402 / 900) * 100vh);
}

.login-button {
    position: relative;
    width: max(200px, calc((360 / 1440) * 100vw));
    height: calc((96 / 900) * 100vh);
    margin: 0 auto;
    background: #25d977;
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.4), 0px 12px 0px #198a4c,
        inset 0px 0px 3px rgba(255, 255, 255, 0.5),
        inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    border-radius: 8px;
}

.login-button-text {
    position: relative;
    height: calc((96 / 900) * 100vh);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    /* avenir button text */

    font-family: "AvenirMedium";
    font-style: normal;
    font-weight: 600;
    font-size: max(15px, calc((30 / 1440) * 100vw));
    line-height: 100%;
    text-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.4) inset;

    color: #4a4a4a;
}

.login-loading {
    position: relative;
    height: calc((96 / 900) * 100vh);
    top: 150px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    /* avenir button text */

    font-family: "AvenirMedium";
    font-style: normal;
    font-weight: 600;
    font-size: max(15px, calc((100 / 1440) * 100vw));
    line-height: 100%;
    text-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.4) inset;

    color: #25d977;
}

.login-button:hover {
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.4), 0px 10px 0px #198a4c,
        inset 0px 0px 3px rgba(255, 255, 255, 0.5),
        inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    transform: translate(0px, 2px);

    cursor: pointer;
}

.login-button:active {
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4), inset 0px 8px 0px #198a4c,
        inset 0px 10px 10px rgba(0, 0, 0, 0.5);
    transform: translate(0px, 11px);
    cursor: pointer;
}
