.privacy-container {
    position: relative;
    background-color: #4a4a4a;
    height: 100vh;
    width: 100vw;
}

.privacy-title {
    position: relative;
    width: calc((739 / 1440) * 100vw);
    height: calc((150 / 900) * 100vh);
    left: calc((358 / 1440) * 100vw);
    top: calc((125 / 900) * 100vh);
    margin: 0;

    font-family: GillSansBold;
    font-style: normal;
    font-weight: bold;

    font-size: calc((75 / 1440) * 100vw);
    line-height: calc((104 / 900) * 100vh);
    text-align: left;

    color: #25d977;
}

.privacy-text-container {
    position: relative;
    width: calc((724 / 1440) * 100vw);
    height: calc((625 / 900) * 100vh);
    left: calc((358 / 1440) * 100vw);
    top: calc((75 / 900) * 100vh);
}

.privacy-text {
    position: relative;

    font-family: "AvenirMedium";
    font-style: normal;
    font-weight: normal;
    font-size: calc((25 / 1440) * 100vw);
    line-height: calc((41 / 900) * 100vh);

    color: white;
}
