.top-artists-container {
    position: relative;
    z-index: 0;
    height: auto;
    padding-bottom: 10vw;

    width: 100vw;
    background-color: #41a971;
}

.top-artists-title-container {
    position: relative;
    width: 100vw;
    height: calc((100 / 1440) * 100vw);
    left: 0px;
    top: calc((60 / 1440) * 100vw);
    text-align: center;
}

.top-artists-title {
    position: relative;
    height: calc((100 / 1440) * 100vw);
    top: 0px;
    margin: 0 auto;
}

.top,
.number,
.artists-tracks,
.of-the-past,
.of,
.time-period {
    display: inline;
    position: relative;
    height: calc((100 / 1440) * 100vw);
    top: 0px;
    margin: 0;

    font-family: "AvenirMedium";
    font-style: normal;
    font-size: calc((36 / 1440) * 100vw);
    line-height: calc((49 / 1440) * 100vw);

    color: #4a4a4a;
}

.top {
    width: calc((68 / 1440) * 100vw);
}

.number {
    width: calc((47 / 1440) * 100vw);
    padding-right: calc((12 / 1440) * 100vw);
    font-weight: bold;
    text-decoration-line: underline;
}
.artists-tracks {
    width: calc((106 / 1440) * 100vw);
    font-weight: bold;
    text-decoration-line: underline;
}
.of-the-past {
    width: calc((175 / 1440) * 100vw);
}
.of {
    width: calc((175 / 1440) * 100vw);
}
.time-period {
    width: calc((165 / 1440) * 100vw);
    font-weight: bold;
    text-decoration-line: underline;
}

.edit-parameters-container {
    position: absolute;
    width: calc((161 / 1440) * 100vw);
    height: calc((413 / 1440) * 100vw);
    left: calc((106 / 1440) * 100vw);
    top: calc((266 / 1440) * 100vw);
}

.select-50,
.select-18,
.select-10,
.select-artists,
.select-tracks,
.select-4-weeks,
.select-6-months,
.select-all-time {
    position: absolute;
    width: calc((161 / 1440) * 100vw);
    height: calc((41 / 1440) * 100vw);
    left: 0px;

    font-family: "AvenirMedium";
    font-style: normal;
    font-weight: 500;
    font-size: calc((30 / 1440) * 100vw);
    line-height: calc((41 / 1440) * 100vw);

    display: flex;
    align-items: center;

    color: #ffffff;
    transition: 0.25s color ease;
}
.select-50 {
    top: 0px;
}
.select-18 {
    top: calc((41 / 1440) * 100vw);
}
.select-10 {
    top: calc((82 / 1440) * 100vw);
}
.select-artists {
    top: calc((164 / 1440) * 100vw);
}
.select-tracks {
    top: calc((205 / 1440) * 100vw);
}
.select-4-weeks {
    top: calc((290 / 1440) * 100vw);
}
.select-6-months {
    top: calc((331 / 1440) * 100vw);
}
.select-all-time {
    top: calc((372 / 1440) * 100vw);
}

.select-50:hover,
.select-18:hover,
.select-10:hover,
.select-artists:hover,
.select-tracks:hover,
.select-4-weeks:hover,
.select-6-months:hover,
.select-all-time:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.edit-parameters-container-mobile {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 90vw;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: -15px;
}

.select-50-mobile,
.select-18-mobile,
.select-10-mobile,
.select-artists-mobile,
.select-tracks-mobile,
.select-4-weeks-mobile,
.select-6-months-mobile,
.select-all-time-mobile {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    font-family: "AvenirMedium";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;

    transition: 0.25s color ease;
}

.select-10-mobile,
.select-tracks-mobile {
    padding-right: 13px;
}

.select-50-mobile:hover,
.select-18-mobile:hover,
.select-10-mobile:hover,
.select-artists-mobile:hover,
.select-tracks-mobile:hover,
.select-4-weeks-mobile:hover,
.select-6-months-mobile:hover,
.select-all-time-mobile:hover {
    cursor: pointer;
    transform: scale(1.01);
}
