.artist-card-container-10 {
    position: relative;
    width: calc((280 / 1440) * 100vw);
    height: calc((280 / 1440) * 100vw);
    display: inline-block;

    background: #4a4a4a;
    border-radius: calc((12 / 1440) * 100vw);
    margin-right: calc((50.5 / 1440) * 100vw);
    margin-left: calc((50.5 / 1440) * 100vw);
    margin-bottom: calc((101 / 1440) * 100vw);
}
.artist-card-10 {
    position: relative;
    width: calc((280 / 1440) * 100vw);
    height: calc((280 / 1440) * 100vw);

    filter: drop-shadow(
        0px calc((4 / 1440) * 100vw) calc((4 / 1440) * 100vw)
            rgba(0, 0, 0, 0.25)
    );
    border-radius: calc((12 / 1440) * 100vw);
}

.artist-name-container-10 {
    position: absolute;
    width: calc((280 / 1440) * 100vw);
    height: calc((37 / 1440) * 100vw);
    margin-top: -6vw;

    background: rgba(0, 0, 0, 0.5);
    content-align: center;
}

.artist-name-10 {
    position: absolute;
    width: calc((280 / 1440) * 100vw);
    height: calc((37 / 1440) * 100vw);
    margin: 0 auto;

    font-family: "AvenirMedium";
    font-style: normal;
    font-weight: 500;
    font-size: calc((25 / 1440) * 100vw);
    line-height: calc((37 / 1440) * 100vw);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: #ffffff;
}

.number-container-10 {
    position: absolute;
    width: calc((40 / 1440) * 100vw);
    height: calc((40 / 1440) * 100vw);
    margin: 0 auto;
    top: 0px;

    background: rgba(0, 0, 0, 0.6);
    border-radius: calc((12 / 1440) * 100vw) 0px 0px 0px;
}

.number-text-10 {
    position: relative;
    width: calc((40 / 1440) * 100vw);
    height: calc((40 / 1440) * 100vw);
    margin: 0 auto;
    padding-top: 0.2vw;

    font-family: "AvenirMedium";
    font-style: normal;
    font-weight: 500;
    font-size: calc((25 / 1440) * 100vw);
    line-height: calc((40 / 1440) * 100vw);

    color: #ffffff;
}

.artist-card-container-18 {
    position: relative;
    width: calc((260 / 1440) * 100vw);
    height: calc((260 / 1440) * 100vw);
    display: inline-block;

    background: #4a4a4a;
    border-radius: calc((12 / 1440) * 100vw);
    margin-right: calc((20 / 1440) * 100vw);
    margin-left: calc((20 / 1440) * 100vw);
    margin-bottom: calc((40 / 1440) * 100vw);
}

.artist-card-18 {
    position: relative;
    width: calc((260 / 1440) * 100vw);
    height: calc((260 / 1440) * 100vw);

    filter: drop-shadow(
        0px calc((4 / 1440) * 100vw) calc((4 / 1440) * 100vw)
            rgba(0, 0, 0, 0.25)
    );
    border-radius: calc((12 / 1440) * 100vw);
}

.artist-name-container-18 {
    position: absolute;
    width: calc((260 / 1440) * 100vw);
    height: calc((37 / 1440) * 100vw);
    margin-top: -6vw;

    background: rgba(0, 0, 0, 0.6);
    content-align: center;
}

.artist-name-18 {
    position: absolute;
    width: calc((260 / 1440) * 100vw);
    height: calc((37 / 1440) * 100vw);
    margin: 0 auto;

    font-family: "AvenirMedium";
    font-style: normal;
    font-weight: 500;
    font-size: calc((25 / 1440) * 100vw);
    line-height: calc((37 / 1440) * 100vw);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: #ffffff;
}

.number-container-18 {
    position: absolute;
    width: calc((40 / 1440) * 100vw);
    height: calc((40 / 1440) * 100vw);
    margin: 0 auto;
    top: 0px;

    background: rgba(0, 0, 0, 0.4);
    border-radius: calc((12 / 1440) * 100vw) 0px 0px 0px;
}

.number-text-18 {
    position: relative;
    width: calc((40 / 1440) * 100vw);
    height: calc((40 / 1440) * 100vw);
    margin: 0 auto;

    font-family: "AvenirMedium";
    font-style: normal;
    font-weight: 500;
    font-size: calc((20 / 1440) * 100vw);
    line-height: calc((40 / 1440) * 100vw);

    color: #ffffff;
}

.artist-card-container-50 {
    position: relative;
    width: calc((200 / 1440) * 100vw);
    height: calc((200 / 1440) * 100vw);
    display: inline-block;

    background: #4a4a4a;
    border-radius: calc((12 / 1440) * 100vw);
    margin-right: calc((12 / 1440) * 100vw);
    margin-left: calc((12 / 1440) * 100vw);
    margin-bottom: calc((24 / 1440) * 100vw);
}
.artist-card-50 {
    position: relative;
    width: calc((200 / 1440) * 100vw);
    height: calc((200 / 1440) * 100vw);

    filter: drop-shadow(
        0px calc((4 / 1440) * 100vw) calc((4 / 1440) * 100vw)
            rgba(0, 0, 0, 0.25)
    );
    border-radius: calc((12 / 1440) * 100vw);
}

.artist-name-container-50 {
    position: absolute;
    width: calc((200 / 1440) * 100vw);
    height: calc((25 / 1440) * 100vw);
    margin-top: -4.5vw;

    background: rgba(0, 0, 0, 0.6);
    content-align: center;
}

.artist-name-50 {
    position: absolute;
    width: calc((200 / 1440) * 100vw);
    height: calc((25 / 1440) * 100vw);
    margin: 0 auto;

    font-family: "AvenirMedium";
    font-style: normal;
    font-weight: 560;
    font-size: calc((14 / 1440) * 100vw);
    line-height: calc((25 / 1440) * 100vw);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: #ffffff;
}

.number-container-50 {
    position: absolute;
    width: calc((35 / 1440) * 100vw);
    height: calc((35 / 1440) * 100vw);
    margin: 0 auto;
    top: 0px;

    background: rgba(0, 0, 0, 0.4);
    border-radius: calc((12 / 1440) * 100vw) 0px 0px 0px;
}

.number-text-50 {
    position: relative;
    width: calc((35 / 1440) * 100vw);
    height: calc((35 / 1440) * 100vw);
    margin: 0 auto;
    padding-top: 0.2vw;

    font-family: "AvenirMedium";
    font-style: normal;
    font-weight: 500;
    font-size: calc((20 / 1440) * 100vw);
    line-height: calc((35 / 1440) * 100vw);

    color: #ffffff;
}

.artist-card-container-10:hover,
.artist-card-container-18:hover,
.artist-card-container-50:hover {
    cursor: pointer;
    top: -0.1vw;
    filter: drop-shadow(
        0px calc((8 / 1440) * 100vw) calc((8 / 1440) * 100vw)
            rgba(0, 0, 0, 0.25)
    );
}
