.header-container {
    position: relative;
    width: 100vw;
    height: calc((131 / 1440) * 100vw);
    left: 0px;
    top: calc((62 / 1440) * 100vw);
    z-index: 1;

    background: #4a4a4a;
}

.home-title {
    position: absolute;
    width: calc((405 / 1440) * 100vw);
    height: calc((131 / 1440) * 100vw);
    left: calc((26 / 1440) * 100vw);
    top: 0px;
    margin: 0 auto;

    /* subtitle */

    font-family: Gill Sans;
    font-style: normal;
    font-weight: bold;
    font-size: calc((50 / 1440) * 100vw);
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #25d977;
}

.sticky-header-container {
    z-index: 2;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: calc((62 / 1440) * 100vw);

    background: #4a4a4a;
    box-shadow: 0px 3px 15px 8px rgba(0, 0, 0, 0.25);
}

.top-artists {
    position: absolute;
    width: calc((112 / 1440) * 100vw);
    height: calc((34 / 1440) * 100vw);
    left: calc((51 / 1440) * 100vw);
    top: calc((11 / 1440) * 100vw);
    margin: 0 auto;

    /* avenir footer text */

    font-family: Avenir Next;
    font-style: normal;
    font-weight: normal;
    font-size: calc((25 / 1440) * 100vw);
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #ffffff;
}

.generate-playlists {
    position: absolute;
    width: calc((200 / 1440) * 100vw);
    height: calc((34 / 1440) * 100vw);
    left: calc((268 / 1440) * 100vw);
    top: calc((11 / 1440) * 100vw);
    margin: 0 auto;

    /* avenir footer text */

    font-family: Avenir Next;
    font-style: normal;
    font-weight: normal;
    font-size: calc((25 / 1440) * 100vw);
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #ffffff;
}

.discover-artists {
    position: absolute;
    width: calc((175 / 1440) * 100vw);
    height: calc((34 / 1440) * 100vw);
    left: calc((573 / 1440) * 100vw);
    top: calc((11 / 1440) * 100vw);
    margin: 0 auto;

    /* avenir footer text */

    font-family: Avenir Next;
    font-style: normal;
    font-weight: normal;
    font-size: calc((25 / 1440) * 100vw);
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #ffffff;
}
.generate-playlists:hover,
.discover-artists:hover,
.top-artists:hover {
    color: #ffffffa8;
    cursor: pointer;
}

.logout-button {
    position: absolute;
    width: calc((101 / 1440) * 100vw);
    height: calc((44 / 1440) * 100vw);
    right: calc((51 / 1440) * 100vw);
    top: calc((9 / 1440) * 100vw);

    fill: none;
    border: calc((2 / 1440) * 100vw) solid #25d977;
    box-sizing: border-box;
    border-radius: calc((4 / 1440) * 100vw);
}

.logout-button-text {
    position: relative;
    height: calc((40 / 1440) * 100vw);
    justify-content: center;
    margin: 0 auto;

    /* avenir footer text */

    font-family: Avenir Next;
    font-style: normal;
    font-weight: normal;
    font-size: calc((25 / 1440) * 100vw);
    line-height: calc((34 / 1440) * 100vw);
    display: flex;
    align-items: center;
    text-align: center;

    color: #25d977;
}

.logout-button:hover {
    border-color: #22b364;
    cursor: pointer;
}

.logout-button-text:hover {
    color: #22b364;
}
