.top-list-container {
    position: relative;
    width: calc((906 / 1440) * 100vw);
    height: auto;
    left: calc((267 / 1440) * 100vw);
    top: calc((75 / 1440) * 100vw);
    display: inline-block;
    text-align: center;
}

.top-list {
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}
