.track-card-container-10 {
    position: relative;
    width: 280px;
    height: 280px;
    display: inline-block;

    background: #4a4a4a;
    border-radius: 12px;
    margin-right: 50.5px;
    margin-left: 50.5px;
    margin-bottom: 101px;
    transition: all 0.5s ease;
}
.track-card-10 {
    position: relative;
    width: 280px;
    height: 280px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 12px;
    transition: all 0.5s ease;
}

.artist-name-container-10 {
    position: absolute;
    width: 280px;
    height: 37px;
    margin-top: -5.9vw;

    background: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
}

.artist-name-10 {
    position: absolute;
    width: 280px;
    height: 37px;
    margin: 0 auto;

    font-family: "AvenirMedium";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: #ffffff;
    transition: all 0.5s ease;
}

.track-name-container-10 {
    position: absolute;
    width: 280px;
    height: 27px;
    margin-top: -3vw;

    background: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
}

.track-name-10 {
    position: absolute;
    width: 280px;
    height: 27px;
    margin: 0 auto;

    font-family: "AvenirMedium";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: #ffffff;
    transition: all 0.5s ease;
}

.number-container-10 {
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-top: -19.65vw;

    background: rgba(0, 0, 0, 0.4);
    border-radius: 12px 0px 0px 0px;
    transition: all 0.5s ease;
}

.number-text-10 {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    padding-top: 0.2vw;

    font-family: "AvenirMedium";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;

    color: #ffffff;
    transition: all 0.5s ease;
}

.track-card-container-18 {
    position: relative;
    width: 260px;
    height: 260px;
    display: inline-block;

    background: #4a4a4a;
    border-radius: 12px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    transition: all 0.5s ease;
}
.track-card-18 {
    position: relative;
    width: 260px;
    height: 260px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 12px;
    transition: all 0.5s ease;
}

.artist-name-container-18 {
    position: absolute;
    width: 260px;
    height: 37px;
    margin-top: -6vw;

    background: rgba(0, 0, 0, 0.6);
    content-align: center;
    transition: all 0.5s ease;
}

.artist-name-18 {
    position: absolute;
    width: 260px;
    height: 37px;
    margin: 0 auto;

    font-family: "AvenirMedium";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: #ffffff;
    transition: all 0.5s ease;
}

.track-name-container-18 {
    position: absolute;
    width: 260px;
    height: 27px;
    margin-top: -3vw;

    background: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
}

.track-name-18 {
    position: absolute;
    width: 260px;
    height: 27px;
    margin: 0 auto;

    font-family: "AvenirMedium";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: #ffffff;
    transition: all 0.5s ease;
}

.number-container-18 {
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-top: -18.25vw;

    background: rgba(0, 0, 0, 0.4);
    border-radius: 12px 0px 0px 0px;
    transition: all 0.5s ease;
}

.number-text-18 {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 auto;

    font-family: "AvenirMedium";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;

    color: #ffffff;
    transition: all 0.5s ease;
}

.track-card-container-50 {
    position: relative;
    width: 200px;
    height: 200px;
    display: inline-block;

    background: #4a4a4a;
    border-radius: 12px;
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 24px;
    transition: all 0.5s ease;
}
.track-card-50 {
    position: relative;
    width: 200px;
    height: 200px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 12px;
    transition: all 0.5s ease;
}

.artist-name-container-50 {
    position: absolute;
    width: 200px;
    height: 25px;
    margin-top: -5vw;

    background: rgba(0, 0, 0, 0.6);
    content-align: center;
    transition: all 0.5s ease;
}

.artist-name-50 {
    position: absolute;
    width: 200px;
    height: 25px;
    margin: 0 auto;

    font-family: "AvenirMedium";
    font-style: normal;
    font-weight: 560;
    font-size: 14px;
    line-height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: #ffffff;
    transition: all 0.5s ease;
}

.track-name-container-50 {
    position: absolute;
    width: 200px;
    height: 20px;
    margin-top: -3vw;

    background: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
}

.track-name-50 {
    position: absolute;
    width: 200px;
    height: 20px;
    margin: 0 auto;

    font-family: "AvenirMedium";
    font-style: normal;
    font-weight: 560;
    font-size: 13px;
    line-height: 20px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: #ffffff;
    transition: all 0.5s ease;
}

.number-container-50 {
    position: absolute;
    width: 35px;
    height: 35px;
    margin: 0 auto;
    margin-top: -14.1vw;

    background: rgba(0, 0, 0, 0.4);
    border-radius: 12px 0px 0px 0px;
    transition: all 0.5s ease;
}

.number-text-50 {
    position: relative;
    width: 35px;
    height: 35px;
    margin: 0 auto;
    padding-top: 0.2vw;

    font-family: "AvenirMedium";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;

    color: #ffffff;
    transition: all 0.5s ease;
}

.track-card-container-10,
.track-card-container-18,
.track-card-container-50:hover {
    cursor: pointer;
    transform: translate(0, -0.2vw);
}
