.track-name-container-10 {
    position: absolute;
    width: calc((280 / 1440) * 100vw);
    height: calc((27 / 1440) * 100vw);
    margin-top: -3vw;

    background: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
}

.track-name-10 {
    position: absolute;
    width: calc((280 / 1440) * 100vw);
    height: calc((27 / 1440) * 100vw);
    margin: 0 auto;

    font-family: "AvenirMedium";
    font-style: normal;
    font-weight: 500;
    font-size: calc((15 / 1440) * 100vw);
    line-height: calc((27 / 1440) * 100vw);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: #ffffff;
    transition: all 0.5s ease;
}

.track-name-container-18 {
    position: absolute;
    width: calc((260 / 1440) * 100vw);
    height: calc((27 / 1440) * 100vw);
    margin-top: -3vw;

    background: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
}

.track-name-18 {
    position: absolute;
    width: calc((260 / 1440) * 100vw);
    height: calc((27 / 1440) * 100vw);
    margin: 0 auto;

    font-family: "AvenirMedium";
    font-style: normal;
    font-weight: 500;
    font-size: calc((15 / 1440) * 100vw);
    line-height: calc((27 / 1440) * 100vw);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: #ffffff;
    transition: all 0.5s ease;
}
.track-name-container-50 {
    position: absolute;
    width: calc((200 / 1440) * 100vw);
    height: calc((20 / 1440) * 100vw);
    margin-top: -2.5vw;

    background: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
}

.track-name-50 {
    position: absolute;
    width: calc((200 / 1440) * 100vw);
    height: calc((20 / 1440) * 100vw);
    margin: 0 auto;

    font-family: "AvenirMedium";
    font-style: normal;
    font-weight: 560;
    font-size: calc((13 / 1440) * 100vw);
    line-height: calc((20 / 1440) * 100vw);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: #ffffff;
    transition: all 0.5s ease;
}
